@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color:#1f2937 ;
    color:#fff;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    
}

h1{
    margin: 0;
    font-size:24px ;

}
.header-right-container{
    align-items:center;
    display: flex;
    gap: 8px;
    color: #e5e7eb;
    font-size: 18px;
}


.hero-section {
    background-color:#1f2937 ;
    color: #fff;
   padding: 100px 200px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.hero-left-container{
    display: flex;
    flex-direction: column;
}

button {
    background-color:#3882F6 ;
    color: #fff;
    border: 0;
    width: fit-content;
}
