@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color:#1f2937 ;
    color:#fff;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    
}

h1{
    margin: 0;
    font-size:24px ;

}
.header-right-container{
    align-items:center;
    display: flex;
    gap: 8px;
    color: #e5e7eb;
    font-size: 18px;
}


.hero-section {
    background-color:#1f2937 ;
    color: #fff;
   padding: 100px 200px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.hero-left-container{
    display: flex;
    flex-direction: column;
}

button {
    background-color:#3882F6 ;
    color: #fff;
    border: 0;
    width: fit-content;
}

.description {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-right-container {
    display: flex;
    justify-content:center;
    align-items: center;
    border: #e5e7eb solid;
    background-color: #e5e7eb;
    height: 200px;
    width: 450px;
    color: #fff;
}

.header-2 {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 900;
}

.box {
    border: 4px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 8px;
    height: 100px;
    width: 100px;
    margin: 24px;
    display: flex;
    flex-shrink: 1;
    padding: 16px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.quote {
    font-size: 20px;
    font-style: italic;
    background: #e5e7eb;
    color: #161616;
    padding:  100px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.author {
    font-weight: 900;
}